header{
    height: 80px;
    
}
.my_flex{
    display:flex;
    flex-direction: row;
}
.my_column{
    display: flex;
    flex-direction: column;
}

.main-box{
    width: 100%;
    height: calc(100vh - 80px)
}

.lateral-side {
    width: 8vw;
}

.body-box {
    width: 95vw;
}

.my_form{
    width: 100%;
    height: 35px;
    background-color: #e5e5e5;
    border-radius: 5px;
    display: flex;
  flex-direction: row;
  align-items:center;
  text-align: left;
  
}
input{
    all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;

}
 ::placeholder {
    color: #757575;
    opacity: 0.7;
    font-size: 13px; 
    

  }

  button {
    all: unset;
    cursor: pointer;
  }
  
  svg {
    color: #212529;
    fill: currentColor;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  ul{
    list-style-type: none;
  }
  .my_lg-text{
    display: none;
  }
  .my_font-size{
    font-size: 10px;
  }


  .my_icon-add{
    font-size: 35px;
  }


  .my_icons-hover{
    display: none;
}

.my_padding-left{
    padding-left:5px;
}

.my_padding-right{
   padding-right: 10px;
}
.my_lg-icon-text  {
    display: none;
}

.my_font-card{
    font-size: 12px;
}
.my_font{ 
    font-size: 12px;

}
.my_md-font{
    font-size: 16px;
}

.my_margin-left{
    margin-left: 2rem;
}
.accordion-body-padding-x{
    padding-right: 2rem;
}

.my_card-sm{
    display: block;
}
.my_card-md{
    display: none;
}








  @media screen and (min-width: 768px){
    .my_form{
        width:100% ;
        
  }

  .my-icon-lat-side{
    width: 50%;
    
  } 
  .my_font{
    font-size: 13px
  }

.my_card-sm{
    display: none;
}
.my_card-md{
    display: block;
}


}

  @media screen and (min-width: 992px){


.lateral-side {
    width: 15vw;
}
    .my_icons-hover{
        display: block;
        color: gray;
    
    }
    .my_bell {
        display: none;
    }

    .my_lg-text{
        display: block;
        font-size: 9px;
        
    
    }
    .my_margin-right{
        margin-right: 0px;
    }

    .my_hidden-text{
        display: none;
    }
    .my_lg-icon-text  {
        display: block;
    }
      



    }
    


  