header{
    height: 80px;
}

.my_column{
    display: flex;
    flex-direction: column;
    
}
.my_justify-content{
  justify-content: space-between;
}


.my_body-box{
    width: 80%;
    height: 100%;
    
}

.my_lateral-nav {
    width: 15%;
}



.my_form{
    width: 100%;
    height: 35px;
    background-color: #e5e5e5;
    border-radius: 5px;
    display: flex;
  flex-direction: row;
  align-items:center;
  text-align: left;
  
}
input{
    all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;

}
 ::placeholder {
    color: #757575;
    opacity: 0.7;
    font-size: 13px; 
    

  }

  button {
    all: unset;
    cursor: pointer;
  }
  
  svg {
    color: #212529;
    fill: currentColor;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  ul{
    list-style-type: none;
  }
  .my_lg-text{
    display: none;
  }
  .my_font-size{
    font-size: 10px;
  }

  .my_hidden-text{
    display: none;
  }
  .my_lateral-side{
    display: block;
  }

  .my_badge-padding-x{
    padding: 1rem;
  }

  .my_icons-hover{
    display: none;
}

.my_padding-left{
    padding-left:5px;
}

.my_padding-right{
   padding-right: 10px;
}
.my_lg-icon-text  {
    display: none;
}

.my_font-card{
    font-size: 13px;
}
.my_font{ 
    font-size: 11px;

}
.my_md-font{
    font-size: 16px;
}

.my_margin-left{
    margin-left: 2rem;
}
.accordion-body-padding-x{
    padding-right: 2rem;
}

.my_card-sm{
    display: block;
}
.my_card-md{
    display: none;
}

.my_zoom-icon, .my_zoom-effect{
  transition: transform .2s;
}

.my_zoom-icon:hover {
  -ms-transform: scale(1); 
  -webkit-transform: scale(1); 
  transform: scale(1);
  background-color: lightgray;
  cursor: pointer;

 
}









  @media screen and (min-width: 768px){
    .my_form{
        width:100% ;
        
  }

  .my-icon-lat-side{
    width: 50%;
    
  } 
  .my_font{
    font-size: 13px
  }

.my_card-sm{
    display: none;
}
.my_card-md{
    display: block;
}


}

  @media screen and (min-width: 992px){

    .my_hidden-text {
      display: block;
      justify-content: space-between;
      
    }
    .my_lateral-side{
      display: none;
    }
  
  
    .my_icons-hover{
        display: block;
        color: gray;
    
    }
    .my_bell {
        display: none;
    }

    .my_lg-text{
        display: block;
        font-size: 9px;
        
    
    }
    .my_margin-right{
        margin-right: 0px;
    }

  
    .my_lg-icon-text  {
        display: block;
    }
      



    }
    


  